/* Service  Area css
============================================================================================ */

.service-area{
	.single-service{
		border: 1px solid transparent;
		background: $bg_one;
		text-align: center;
		padding: 55px 20px 30px;
		@include transition;
		&:hover{
			background: #fff;
			@include transition();
			.service-icon{
				color: $baseColor;
				@include transition();
			}
			
		}
		.service-icon {
			color: $dip;
			margin-bottom: 10px;

		}
		.service-content{
			h5{
				font-size: 20px;
				color: white;
				margin-bottom: 18px;
			}
			p{
				line-height: 27px;
			}

		}
	}
}

.area-heading{
	margin-bottom: 85px;
	text-align:center;
	h3{
		font-size: 36px;
		color: $dip;
		position: relative;
		text-transform: capitalize;
		span{
			color: $baseColor;
			font-style: italic;
		}
	}
	p{
		font-size: 14px;
		color: $pfont;
	}
}
